/* Start Attribution Styles [NOT Related To Project Styles And Can Be Deleted] */
.footer {
  /* Reset Footer Bottom Padding*/
  padding-bottom: 0;
}

.attribution {
  color: #fff;
  font-size: 0.8125rem;
  text-align: center;
  padding-top: 1.875rem;
  padding-bottom: 1.5625rem;
}

.attribution .outer-link {
  color: #fff;
  margin-left: 0.0625rem;
  transition: all 0.2s ease-in-out;
}

.attribution .outer-link:hover {
  color: #57db7a;
  cursor: pointer;
}

.attribution .social-media {
  list-style: none;
  margin-left: 0.3125rem;
  display: inline-flex;
  align-items: flex-end;
  gap: 0.75rem;
}

.attribution .social-media img {
  width: 22px;
  height: 22px;
  transition: transform 0.2s ease-in-out;
}

.attribution .social-media img:hover {
  transform: scale(1.08);
}

.attribution .social-media img.light {
  filter: invert(1);
}

/* End Attribution */
