// Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 14%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Fonts
$font-size-sm: 0.875rem; // 14px
$font-size-med: 1.125rem; // 18px

// Transitions
$main-transition: 0.3s ease-in-out;
$fast-transition: 0.2s ease-in-out;

// Spaces
$sections-padding: 6.25rem;

// Borders
$border-radius: 0.3125rem;
